/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__
/laskarit/viikko2/unicafe/src/tests/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/htmlcov
Todo.txt
src/__pycache__
src/ui/__pycache__
src/repositories/__pycache__
.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
__pycache__
*.py[cod]
*$py.class
src/tags
# data files
data/
src/services/__pycache__
